
body {
	margin: 0px;
	font-style: verdana, "times new roman";
	background-image: url("../images/Background1WithBall.jpg");
	background-size: 1700px 900px;
}

.container {
	background-color: yellow;
	margin: 40px 100px 20px 150px;
	min-height: 500px;
}

h1 {
	font-size: 60px;
	font-weight: bold;
	color: green;
	text-align: center;
	margin-top: 3%;
}

.start {
	font-size: 30px;
	border-style: solid;
	border-width: 3px;
	border-color: green;
	margin:5% 25% 5% 25%;
}

h2 {
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 2%;
}

p {
	font-size: 30px;
	text-align: center;
}

.a, .s4{
	border-style: solid;
	border-width: 0px;
	border-color: green;
	margin:2% 20% 2% 20%;
}

.sTitle {
	font-weight: bold;
}

.copyR {
	font-size: 10px;
}
